---
http_interactions:
- request:
    method: get
    uri: https://purl.stanford.edu/pz816zm7931.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"25f95271311dc10cf3b55c01bcfade1a"'
      Last-Modified:
      - Tue, 14 Jul 2015 21:56:15 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:pz816zm7931" published="2015-07-14T14:56:13-07:00">
          <identityMetadata>
            <sourceId source="sul">M1919_b102_f9</sourceId>
            <objectId>druid:pz816zm7931</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Fiat Abarth 750 GT Zagato (1959). Road &amp; Track Salon August 1981.</objectLabel>
            <objectType>item</objectType>
            <otherId name="label"/>
            <otherId name="uuid">7e23da80-ce44-11e4-8522-0050569b3c3c</otherId>
            <tag>Process : Content Type : Image</tag>
            <tag>Project : Road and Track Archive</tag>
            <tag>DPG : Road and Track : Carton 4</tag>
            <tag>Registered By : llam813</tag>
            <tag>Remediated By : 4.21.2</tag>
          </identityMetadata>
          <contentMetadata objectId="pz816zm7931" type="image">
            <resource id="pz816zm7931_1" sequence="1" type="image">
              <label>Image 1</label>
              <file id="pz816zm7931_00_0001.jp2" mimetype="image/jp2" size="5574079">
                <imageData width="6288" height="4708"/>
              </file>
            </resource>
            <resource id="pz816zm7931_2" sequence="2" type="image">
              <label>Image 2</label>
              <file id="pz816zm7931_00_0002.jp2" mimetype="image/jp2" size="5440474">
                <imageData width="6288" height="4595"/>
              </file>
            </resource>
            <resource id="pz816zm7931_3" sequence="3" type="image">
              <label>Image 3</label>
              <file id="pz8[...]
[...]
- request:
    method: get
    uri: https://purl.stanford.edu/pz816zm7931.mods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"25f95271311dc10cf3b55c01bcfade1a"'
      Last-Modified:
      - Tue, 14 Jul 2015 21:56:15 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <mods xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-3.xsd">
          <titleInfo>
            <title>Fiat Abarth 750 GT Zagato (1959). Road &amp; Track Salon August 1981.</title>
          </titleInfo>
          <relatedItem type="host">
            <titleInfo>
              <title>The Road &amp; Track Archive</title>
            </titleInfo>
            <identifier type="uri">http://purl.stanford.edu/mr163sv5231</identifier>
            <typeOfResource collection="yes"/>
          </relatedItem>
          <accessCondition type="useAndReproduction">Property rights reside with the repository. Copyright resides with the creators of the documents or their heirs. To obtain permission to publish or reproduce, please contact the Special Collections Public Services Librarian at specialcollections@stanford.edu.</accessCondition>
          <accessCondition type="copyright">Copyright resides with the creators of the documents, their heirs or assigns.</accessCondition>
        </mods>
  recorded_at: Thu, 22 Oct 2015 23:20:53 GMT
[...]
- request:
    method: get
    uri: https://purl.stanford.edu/mr163sv5231.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ccbaea64c6bd9e599bbafffa2f86769a"'
      Last-Modified:
      - Tue, 14 Jul 2015 21:37:53 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:mr163sv5231" published="2015-07-14T14:37:53-07:00">
          <identityMetadata>
            <objectId>druid:mr163sv5231</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>The Road &amp; Track Archive</objectLabel>
            <objectType>collection</objectType>
            <otherId name="uuid">8466c1ec-a8b4-11e4-816c-0050569b3c3c</otherId>
            <tag>Remediated By : 4.21.2</tag>
          </identityMetadata>
          <xml/>
          <rightsMetadata>
            <access type="discover">
              <machine>
                <world/>
              </machine>
            </access>
            <access type="read">
              <machine>
                <group>stanford</group>
                <world rule="no-download"/>
              </machine>
            </access>
            <use>
              <human type="useAndReproduction">Property rights reside with the repository. Copyright resides with the creators of the documents or their heirs. To obtain permission to publish or reproduce, please contact the Special Collections Public Services Librarian at specialcollections@stanford.edu.</human>
            </use>
            <copyright>
              <human type="copyright">Copyright resides with the creators of the documents, their heirs or assigns.</human>
            </copyright>
          </rightsMetadata>
          <rdf:RDF xmlns:fedora-model="info:fedora/fedora-system:def/model#" xmlns:hydra="http://projecthydra.org/ns/relations#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <rdf:Description rdf:about="info:fedora/druid:mr163sv5231">
            </rdf:Description>
          </rdf:RDF>
          <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:srw_dc="info:srw/schema/1/dc-schema" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
            <dc:title>The Road &amp; Track Archive</dc:title>
            <dc:description>The Road &amp;  Track Archive contains a digitized selection of files from Road &amp;  Track magazine's 65-year history.  The full archive includes images, notes, performance data and other types of documents and research that supported production of the magazine over its history and is preserved at Stanford University Libraries.</dc:description>
          </oai_dc:dc>
        </publicObject>
  recorded_at: Thu, 22 Oct 2015 23:20:53 GMT
[...]
