---
http_interactions:
- request:
    method: get
    uri: https://purl.stanford.edu/vw282gv1740.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f2d51ee0f296207364e00bed941831dc"'
      Last-Modified:
      - Fri, 16 Oct 2015 22:50:17 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<publicObject id=\"druid:vw282gv1740\"
        published=\"2015-10-16T15:50:14-07:00\">\n  <identityMetadata>\n    <sourceId
        source=\"SALT\">SC0340_2005-101_vw282gv1740</sourceId>\n    <objectId>druid:vw282gv1740</objectId>\n
        \   <objectCreator>DOR</objectCreator>\n    <objectLabel>The Next Revolution
        in Scientific Publishing: Data and Models as Computer Interpretable Knowledge
        Bases</objectLabel>\n    <objectType>item</objectType>\n    <otherId name=\"uuid\">932ebf12-5d96-11e5-9a53-0050569b52d5</otherId>\n
        \   <tag>Remediated By : 4.21.4</tag>\n  </identityMetadata>\n  <contentMetadata
        objectId=\"vw282gv1740\" type=\"book\">\n    <resource id=\"vw282gv1740_5\"
        sequence=\"5\" type=\"object\">\n      <label>Document</label>\n      <file
        id=\"vw282gv1740.pdf\" mimetype=\"application/pdf\" size=\"1697593\">\n      \n
        \     \n    </file>\n    </resource>\n    <resource id=\"vw282gv1740_6\" sequence=\"6\"
        type=\"page\">\n      <label>Page 1</label>\n      <file id=\"vw282gv1740_00001.jp2\"
        mimetype=\"image/jp2\" size=\"64726\">\n        <imageData width=\"1728\"
        height=\"2200\"/>\n      </file>\n    </resource>\n    <resource id=\"vw282gv1740_7\"
        sequence=\"7\" type=\"page\">\n      <label>Page 2</label>\n      <file id=\"vw282gv1740_00002.jp2\"
        mimetype=\"image/jp2\" size=\"82795\">\n        <imageData width=\"1728\"
        height=\"2200\"/>\n      </file>\n    </resource>\n    <resource id=\"vw282gv1740_8\"
        sequence=\"8\" type=\"page\">\n      <label>Page 3</label>\n      <file id=\"vw282gv1740_00003.jp2[...]
[...]
- request:
    method: get
    uri: https://purl.stanford.edu/vw282gv1740.mods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f2d51ee0f296207364e00bed941831dc"'
      Last-Modified:
      - Fri, 16 Oct 2015 22:50:17 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <mods xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd" version="3.5">
          <typeOfResource>text</typeOfResource>
          <genre authority="aat" valueURI="http://vocab.getty.edu/aat/300028579">manuscripts for publication</genre>
          <titleInfo>
            <title>The Next Revolution in Scientific Publishing: Data and Models as Computer Interpretable Knowledge Bases</title>
          </titleInfo>
          <name type="corporate" authority="naf" authorityURI="http://id.loc.gov/authorities/names" valueURI="http://id.loc.gov/authorities/names/n89648751">
            <namePart>Stanford University. Knowledge Systems Laboratory</namePart>
            <role>
              <roleTerm type="text" authority="marcrelator" authorityURI="http://id.loc.gov/vocabulary/relators" valueURI="http://id.loc.gov/vocabulary/relators/ctb">Contributor</roleTerm>
            </role>
          </name>
          <originInfo>
            <dateCreated encoding="w3cdtf" keyDate="yes">1998</dateCreated>
            <issuance>monographic</issuance>
          </originInfo>
          <physicalDescription>
            <extent>1 document</extent>
            <digitalOrigin>reformatted digital</digitalOrigin>
            <internetMediaType>application/pdf</internetMediaType>
          </physicalDescription>
          <note type="preferred citation">Call Number: SC0340, Accession 2005-101</note>
          <note>Manuscript (1998)</note>
          <subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh85008180">
            <topic>Artificial intelligence</topic>
          </subject>
          <subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh85046450">
            <topic>Expert systems (Computer science)</topic>
          </subject>
          <subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh89003285">
            <topic>Computer science</topic>
          </subject>
          <location>
            <physicalLocation type="repository" displayLabel="Repository" authorityURI="http://id.loc.gov/authorities/names" valueURI="http://id.loc.gov/authorities/names/no2014019980">Stanford University. Libraries. Department of Special Collections and University Archives</physicalLocation>
            <physicalLocation>Call Number: SC0340, Accession 2005-101</physicalLocation>
          </location>
          <identifier type="local" displayLabel="Source ID">SC0340_2005-101_vw282gv1740</identifier>
          <language>
            <languageTerm type="code" authority="iso639-2b">eng</languageTerm>
          </language>
          <recordInfo>
            <languageOfCataloging>
              <languageTerm authority="iso639-2b">eng</languageTerm>
            </languageOfCataloging>
            <recordContentSource authority="marcorg">CSt</recordContentSource>
            <recordOrigin>Description mapped to MODS from SaltWorks, original scanned file name: [0327].</recordOrigin>
          </recordInfo>
          <note displayLabel="Donor tags">Knowledge Systems Laboratory</note>
          <note displayLabel="Donor tags">medical applications</note>
          <note displayLabel="Donor tags">Publishing</note>
          <note displayLabel="Donor tags">Stanford</note>
          <note displayLabel="Donor tags">Stanford Computer Science Department</note>
          <relatedItem type="host">
            <titleInfo>
              <title>Edward A. Feigenbaum papers, 1950-2007 (inclusive)</title>
            </titleInfo>
            <identifier type="uri">http://purl.stanford.edu/ms016pb9280</identifier>
            <typeOfResource collection="yes"/>
          </relatedItem>
          <accessCondition type="useAndReproduction">The materials are open for research use and may be used freely for non-commercial purposes with an attribution. For commercial permission requests, please contact the Stanford University Archives (universityarchives@stanford.edu).</accessCondition>
        </mods>
  recorded_at: Thu, 22 Oct 2015 23:20:53 GMT
[...]
