---
http_interactions:
- request:
    method: get
    uri: http://purl.stanford.edu/vw282gv1740.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - W/"e11be7724678f28ca1f1d7e2201776b3"
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<publicObject id=\"druid:vw282gv1740\"
        published=\"2015-10-16T15:50:14-07:00\">\n  <identityMetadata>\n    <sourceId
        source=\"SALT\">SC0340_2005-101_vw282gv1740</sourceId>\n    <objectId>druid:vw282gv1740</objectId>\n
        \   <objectCreator>DOR</objectCreator>\n    <objectLabel>The Next Revolution
        in Scientific Publishing: Data and Models as Computer Interpretable Knowledge
        Bases</objectLabel>\n    <objectType>item</objectType>\n    <otherId name=\"uuid\">932ebf12-5d96-11e5-9a53-0050569b52d5</otherId>\n
        \   <tag>Remediated By : 4.21.4</tag>\n  </identityMetadata>\n  <contentMetadata
        objectId=\"vw282gv1740\" type=\"book\">\n    <resource id=\"vw282gv1740_5\"
        sequence=\"5\" type=\"object\">\n      <label>Document</label>\n      <file
        id=\"vw282gv1740.pdf\" mimetype=\"application/pdf\" size=\"1697593\">\n      \n
        \     \n    </file>\n    </resource>\n    <resource id=\"vw282gv1740_6\" sequence=\"6\"
        type=\"page\">\n      <label>Page 1</label>\n      <file id=\"vw282gv1740_00001.jp2\"
        mimetype=\"image/jp2\" size=\"64726\">\n        <imageData width=\"1728\"
        height=\"2200\"/>\n      </file>\n    </resource>\n    <resource id=\"vw282gv1740_7\"
        sequence=\"7\" type=\"page\">\n      <label>Page 2</label>\n      <file id=\"vw282gv1740_00002.jp2\"
        mimetype=\"image/jp2\" size=\"82795\">\n        <imageData width=\"1728\"
        height=\"2200\"/>\n      </file>\n    </resource>\n    <resource id=\"vw282gv1740_8\"
        sequence=\"8\" type=\"page\">\n      <label>Page 3</label>\n      <file id=\"vw282gv1740_00003.jp2[...]
[...]
- request:
    method: get
    uri: http://purl.stanford.edu/vw282gv1740.mods
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - W/"677827862c4369172202497d6e29095e"
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <mods xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd" version="3.5">
          <typeOfResource>text</typeOfResource>
          <genre authority="aat" valueURI="http://vocab.getty.edu/aat/300028579">manuscripts for publication</genre>
          <titleInfo>
            <title>The Next Revolution in Scientific Publishing: Data and Models as Computer Interpretable Knowledge Bases</title>
          </titleInfo>
          <name type="corporate" authority="naf" authorityURI="http://id.loc.gov/authorities/names" valueURI="http://id.loc.gov/authorities/names/n89648751">
            <namePart>Stanford University. Knowledge Systems Laboratory</namePart>
            <role>
              <roleTerm type="text" authority="marcrelator" authorityURI="http://id.loc.gov/vocabulary/relators" valueURI="http://id.loc.gov/vocabulary/relators/ctb">Contributor</roleTerm>
            </role>
          </name>
          <originInfo>
            <dateCreated encoding="w3cdtf" keyDate="yes">1998</dateCreated>
            <issuance>monographic</issuance>
          </originInfo>
          <physicalDescription>
            <extent>1 document</extent>
            <digitalOrigin>reformatted digital</digitalOrigin>
            <internetMediaType>application/pdf</internetMediaType>
          </physicalDescription>
          <note type="preferred citation">Call Number: SC0340, Accession 2005-101</note>
          <note>Manuscript (1998)</note>
          <subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh85008180">
            <topic>Artificial intelligence</topic>
          </subject>
          <subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh85046450">
            <topic>Expert systems (Computer science)</topic>
          </subject>
          <subject authority="lcsh" valueURI="http://id.loc.gov/authorities/subjects/sh89003285">
            <topic>Computer science</topic>
          </subject>
          <location>
            <physicalLocation type="repository" displayLabel="Repository" authorityURI="http://id.loc.gov/authorities/names" valueURI="http://id.loc.gov/authorities/names/no2014019980">Stanford University. Libraries. Department of Special Collections and University Archives</physicalLocation>
            <physicalLocation>Call Number: SC0340, Accession 2005-101</physicalLocation>
          </location>
          <identifier type="local" displayLabel="Source ID">SC0340_2005-101_vw282gv1740</identifier>
          <language>
            <languageTerm type="code" authority="iso639-2b">eng</languageTerm>
          </language>
          <recordInfo>
            <languageOfCataloging>
              <languageTerm authority="iso639-2b">eng</languageTerm>
            </languageOfCataloging>
            <recordContentSource authority="marcorg">CSt</recordContentSource>
            <recordOrigin>Description mapped to MODS from SaltWorks, original scanned file name: [0327].</recordOrigin>
          </recordInfo>
          <note displayLabel="Donor tags">Knowledge Systems Laboratory</note>
          <note displayLabel="Donor tags">medical applications</note>
          <note displayLabel="Donor tags">Publishing</note>
          <note displayLabel="Donor tags">Stanford</note>
          <note displayLabel="Donor tags">Stanford Computer Science Department</note>
          <relatedItem type="host">
            <titleInfo>
              <title>Edward A. Feigenbaum papers, 1950-2007 (inclusive)</title>
            </titleInfo>
            <identifier type="uri">http://purl.stanford.edu/ms016pb9280</identifier>
            <typeOfResource collection="yes"/>
          </relatedItem>
          <accessCondition type="useAndReproduction">The materials are open for research use and may be used freely for non-commercial purposes with an attribution. For commercial permission requests, please contact the Stanford University Archives (universityarchives@stanford.edu).</accessCondition>
        </mods>
  recorded_at: Tue, 20 Oct 2015 23:25:17 GMT
[...]
- request:
    method: get
    uri: http://purl.stanford.edu/ms016pb9280.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - W/"e39c4d8b5fc18e2b03b04f2382b2b8f8"
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:ms016pb9280" published="2015-05-11T19:23:48-07:00">
          <identityMetadata>
            <objectId>druid:ms016pb9280</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Edward A. Feigenbaum papers, 1950-2007 (inclusive)</objectLabel>
            <objectType>collection</objectType>
            <adminPolicy>druid:ww057vk7675</adminPolicy>
            <otherId name="catkey">4085637</otherId>
            <otherId name="uuid">1b73755c-b131-11e3-888e-0050569b3c3c</otherId>
            <tag>Remediated By : 4.20.0</tag>
          </identityMetadata>
          <xml/>
          <rightsMetadata>
            <access type="discover">
              <machine>
                <world/>
              </machine>
            </access>
            <access type="read">
              <machine>
                <world/>
              </machine>
            </access>
            <use>
              <human type="useAndReproduction">Property rights reside with the repository. Literary rights reside with  the creators of the documents or their heirs. To obtain permission to publish or reproduce, please contact the Public Services Librarian of the Dept. of Special Collections (http://library.stanford.edu/spc).</human>
            </use>
          </rightsMetadata>
          <rdf:RDF xmlns:fedora-model="info:fedora/fedora-system:def/model#" xmlns:hydra="http://projecthydra.org/ns/relations#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <rdf:Description rdf:about="info:fedora/druid:ms016pb9280">
            </rdf:Description>
          </rdf:RDF>
          <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:srw_dc="info:srw/schema/1/dc-schema" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
            <dc:title>Edward A. Feigenbaum papers, 1950-2007 (inclusive)</dc:title>
            <dc:contributor>Feigenbaum, Edward A.</dc:contributor>
            <dc:type>Collection</dc:type>
            <dc:type>Phonotapes.</dc:type>
            <dc:type>Video recordings</dc:type>
            <dc:date>1950-2007</dc:date>
            <dc:language>eng</dc:language>
            <dc:format>86 linear feet and 89,702.3 megabytes</dc:format>
            <dc:description>Collection primarily concerns his work in artificial intelligence at Stanford University and includes administrative files, correspondence, project files, trip files, proposals, reports, reprints, Artificial Intelligence Lab memos, audio tapes, video tapes, and files on computer programs, mainly DENDRAL, MOLGEN, ARPA, EPAM, and SUMEX. Also includes manuscript and published editions of his work COMPUTERS AND THOUGHT.</dc:description>
            <dc:description type="biographical/historical">Computer scientist. Feigenbaum received his B.S., 1956, and his Ph.D., 1959, in electrical engineering from Carnegie Institute of Technology. He completed a Fulbright Fellowship at the National Physics Laboratory and in 1960 went to the University of California, Berkeley, to teach in the School of Business Administration. He joined the Stanford faculty in 1965 in the Dept. of Computer Science; he served as Director of the Stanford Computation Center from 1965 to 1968 and as chairman of the Department from 1976 to 1981. Feigenbaum is a leading national figure in artificial intelligence and has developed computer resources for interactive research between medical and scientific collaborators on a national and global scale.</dc:description>
            <dc:description type="ownership">Gift of Edward A. Feigenbaum.</dc:description>
            <dc:subject>Feigenbaum, Edward A</dc:subject>
            <dc:subject>FacultyStanford University. Computer Science Department</dc:subject>
            <dc:subject>ARPANET (Computer network)</dc:subject>
            <dc:subject>Artificial intelligence</dc:subject>
            <dc:subject>Computer programs</dc:subject>
            <dc:subject>Expert systems (Computer science)</dc:subject>
            <dc:identifier>http://www.oac.cdlib.org/findaid/ark:/13030/kt500039hc/</dc:identifier>
            <dc:identifier>https://saltworks.stanford.edu/</dc:identifier>
          </oai_dc:dc>
          <ReleaseData/>
        </publicObject>
  recorded_at: Tue, 20 Oct 2015 23:25:17 GMT
[...]
