*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
.ruby-version
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/pkg/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
spec/internal
.internal_test_app
Gemfile.lock
jetty
.pry_history
